img {
    position: relative;
    animation-name: img;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

img {
    border: 5px;
    border-color: rgb(204, 17, 17);
    border-style: solid;
}

@keyframes img {
    from {
        left: 0px;
    }

    to {
        left: 1000px;
    }

}

.two {
    color: rgb(102, 23, 23);
    font-family: Andale Mono, monospace;
    font-weight: 100;
}

body {
    background-color: rgb(239, 147, 49);
}

li {
    color: rgba(0, 0, 0, 0.674);
}

h2 {
    color: rgba(0, 0, 0, 0.736);
    font-family: Andale Mono, monospace;
}

h1 {
    color: rgb(205, 0, 0);
    font-family: Andale Mono, monospace;
    text-align: center;
}

li {
    text-align: start;
    font-size: smaller;
    font-family: Andale Mono, monospace;
}

h2 {
    font-size: medium;
    font-family: Andale Mono, monospace;
    text-align: left;
}

h3 {
    color: rgb(165, 0, 0);
    text-align: center;
    font-family: Andale Mono, monospace;
}



.gif {
    position: relative;
    animation-name: gif;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

.gif {
    border: 20px;
    border-color: blueviolet;
}

@keyframes gif {
    from {
        left: 0px;
    }

    to {
        left: 1000px;
    }
}

.gif2 {
    position: relative;
    animation-name: gif2;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

.gif2 {
    border: 20px;
    border-color: blueviolet;
}

@keyframes gif2 {
    from {
        left: 0px;
    }

    to {
        left: 1000px;
    }
}


.gif3 {
    position: relative;
    animation-name: gif3;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

.gif3 {
    border: 20px;
    border-color: blueviolet;
}

@keyframes gif3 {
    from {
        left: 0px;
    }

    to {
        left: 1000px;
    }
}